# Copie para .env. Nao versione a chave nem senhas reais.
POSTGRES_DB=bpc
POSTGRES_USER=bpc
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_PORT=5432
API_PORT=8000

DATAJUD_API_KEY=
DATAJUD_BASE_URL=https://api-publica.datajud.cnj.jus.br
COMUNICA_BASE_URL=https://comunicaapi.pje.jus.br/api/v1/comunicacao
INSS_CATALOG_API_URL=https://dadosabertos.inss.gov.br/api/3/action
